<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style_css.css') }}">

</head>
<body>

    <div>

        여기는 html영역입니다.

        <a href="/about">어바웃페이지로 이동</a>

    </div>

   
    <div class="daum_content">
        <h1>여기는 오늘의유머</h1>
        <ul>
            {% for i in list2 %}
                <li>{{i}}</li>
            {% endfor %}

        </ul>

    </div>

    <div class="daum_content">
        <h1>여기는 클리앙</h1>
        <ul>
            {% for i in list3 %}
                <li>{{i}}</li>
            {% endfor %}

        </ul>

    </div>



</body>
</html>
